<!DOCTYPE html>
<html>
  <head>
    <title>Best Note Taking App | Organize Your Notes With Eureka!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('lightbulb.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
